body {
	line-height: 1.5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	cursor: pointer;
}

a:link, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

input:focus {
	outline: none;
}

h1 {
	font-size: 34px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}


.text-overflow {
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

svg, button {
	user-select: none;
}
.loading--dot:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: dot 2s infinite steps(3, end);
    content: "\2026"; /* ascii code for the dot character */
}
@keyframes dot {
    from {
        width: 2px;
    }
    to {
        width: 15px;
    }
}


.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--line);
  -webkit-box-orient: vertical;
}
.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}